{
	"presets": [
		"@babel/preset-react",
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"debug": false,
				"corejs": 3,
				"targets": {
					"browsers": ["last 2 versions", "not ie <= 10"]
				}
			}
		]
	],
	"plugins": [
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-proposal-class-properties",
		"babel-plugin-styled-components"
	]
}
